
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


<div class="login-container m-10">
    <input type="hidden" id="viewbagMessage" value="@ViewBag.Message">
    <input type="hidden" id="viewbagColor" value="@ViewBag.Color">

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">


                <!-- Simple login form -->
                <form action="@Url.Action("PostResetPassword","Auth")" class="login-form" method="post">
                    <div class="panel panel-body">

                        <div class="text-center">
                            <h5 class="content-group">Reset Password<small class="display-block">Enter your new password below</small></h5>
                        </div>

                        <input type="hidden" class="form-control" readonly required name="t" value="@ViewBag.Time">
                        <input type="hidden" class="form-control" readonly required name="encId" value="@ViewBag.EncId">
                        
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" placeholder="New password" id="password" required name="NewPassword">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" placeholder="Confirm password" id="ConfirmPassword" onkeyup="matchPassword(this.value)" required name="ConfirmPassword">
                            <div class="form-control-feedback">
                                <i class="icon-check text-muted"></i>
                            </div>
                            <span id='errMsg' class="text-danger" hidden>Password &amp; Confirm Password did not match</span>
                        </div>



                        <div class="form-group">
                            <button type="submit" id="subBtn" class="btn bg-pink-400 btn-block">Reset <i class="icon-circle-right2 position-right"></i></button>
                        </div>

                        <a href="@Url.Action("Login","Auth")" class="pull-right content-group text-bold">Back To Sign In</a>


                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
</div>
    <script>

        function matchPassword(confirmPw) {
            var newPw = $('#password').val();
            if (newPw != confirmPw) {
                $('#errMsg').show();
                $('#subBtn').attr("disabled", true);
            }
            else {
                $('#errMsg').hide();
                $('#subBtn').attr("disabled", false);
            }
        }
    </script>