@using LoginFinal.Models
@using Microsoft.Data.SqlClient;
@inject SqlConnection de
@using LoginFinal.BL
@inject IOptions<StripeSettings> Stripe
@model User
@using System.Security.Claims;
@using LoginFinal.HelpingClasses;
@using Microsoft.Extensions.Options
@{
    var Userid = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value;
    var CurrentUserRecord = new UserBL().GetActiveUserById(Convert.ToInt32(Userid), de);
    User loggedinUser = CurrentUserRecord;
    ViewBag.Title = "I.T. Butler Details";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

@*calendar links*@




     <link href='~/Content/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
    <link href='~/Content/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='~/Content/fullcalendar/lib/moment.min.js'></script>
    <script src='~/Content/fullcalendar/lib/jquery.min.js'></script>
    <script src='~/Content/fullcalendar/fullcalendar.min.js'></script>


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style> /*faiz bhai*/
        @@media only screen and (max-width: 768px) {
        .main-page.second .right h2 {
    padding-top: 21px !important;
     margin: 0 0 0px !important; 
    
}
  }
  
  /*start massam 09-01-23*/
.text-control{
    font-size:13px !important;
}
/*end massam 09-01-23*/

    </style>


@*calendar links*@

@*calendar script*@

@*<audio autoplay="autoplay" preload="auto" src="~/FrontAssets/js/Notification_sound.wav"></audio>*@
        <script>
            
                                   // var url="../FrontAssets/js/Notification_sound.WAV";
                           //const audio = new Audio("https://www.computerhope.com/jargon/m/example.mp3");
                           //const audio = new Audio("https://media.geeksforgeeks.org/wp-content/uploads/20190531135120/beep.mp3");
                           //const audio = new Audio("https://media.geeksforgeeks.org/wp-content/uploads/20190531135120/beep.mp3");
                           //audio.play();


        $(document).ready(function ()
        {

            var events = [];

           var sellerid=$("#butler_id").val();
            $.ajax({
                type: 'POST',

                url: "../Home/Getorders",
                data:{
                           userid:sellerid,

                        },
                cache: false,
                success: function (data)
                {
                    debugger;
                    $.each(data, function (i, v)
                    {
                        debugger;
                        console.log("hi=");
                        console.log("sd="+v.startDate.toString());
                        console.log("ed="+v.endDate.toString());

                        events.push({

                            id: v.Id,
                            title: v.orderTitle,
                            description: v.orderDescription,
                            start: moment(v.startDate),
                            end: v.endDate != null ? moment(v.endDate) : null, //if end date not equal to null then display else wise display null
                            //end: moment(v.endDate), //if end date not equal to null then display else wise display null
                            color: '#26d7aa80',
                           // url:v.url

                        })

                    });
                    console.log("event arr",events);
                    GenerateCalender(events); //passing values to calender after fetching from ajax call
                },
                error: function (error)
                {
                    alert("Error");
                }

            });

            function GenerateCalender(events)
            {
                debugger;

                $('#calendar').fullCalendar('destroy');

                $('#calendar').fullCalendar({

                 //timeZone:'UTC', // testing
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: new Date(), //'DateTime.Now'
                navLinks: true, // can click day/week names to navigate views
                selectable: true, //allow onclick listener
                selectHelper: true,

                //select: function (start, end)
                //{
                //   console.log(start);
                //    // date format change

                //    var today = start["_d"];
                //    var dd = today.getDate();
                //    var mm = today.getMonth() + 1;
                //    var yyyy = today.getFullYear();
                //    if (dd < 10) {
                //        dd = '0' + dd
                //    }
                //    if (mm < 10) {
                //        mm = '0' + mm
                //    }
                //    var sdate = mm + "/" + dd + "/" + yyyy;


                //    var end = end["_d"];
                //    var dd2 = end.getDate();
                //    var mm2 = end.getMonth() + 1;
                //    var yyyy2 = end.getFullYear();
                //    if (dd2 < 10) {
                //        dd2 = '0' + dd2
                //    }
                //    if (mm2 < 10) {
                //        mm2 = '0' + mm2
                //    }
                //    var edate = mm2 + "/" + dd2 + "/" + yyyy2;


                //    //ending  date format change

                //       //$("#myModal").modal('show');
                //       //$("#myModal").removeClass('fade');
                //       //$("#myModal").addClass('show');

                //    //$('#from_date').val(start);
                //    //$('#to_date').val(end);


                //    $('#calendar').fullCalendar('unselect');
                //},
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                views: 
                {
                    month: //applied on monthly view
                    {
                        eventLimit: 5 // it will show 4 tasks and then 5th will be in "+ more" option
                    }
                    //week: //applied on weekly view
                    //{
                    //    eventLimit: 5 
                    //}
                },
                //eventColor: 'red',
                events: events,
                textColor: 'yellow',
                 

                 dayClick: function(date,jsEvent, view)
                 {
                     debugger;
                     if(view.name == "month")
                     {

                    var gotodate=date["_d"];

                    $('#calendar').fullCalendar('changeView', 'agendaDay');
                    $('#calendar').fullCalendar('gotoDate', gotodate);

                     }
                     else
                     {
                         var datetime=date["_d"];

                        var myDate = new Date(datetime)/*.toString("dd-MM-yyyy hh:00:00")*/;
                        var localtime=myDate.toLocaleString();
                        
                        //ajax call for getting timezone

                         $.ajax({
            type: 'POST',
            url: "../Home/GetRegionaltimezone",
            dataType: "json",
            data: {
                date: localtime
            },
            success: function (response)
            {
                debugger;
                console.log(response);

               $('#from_date').val(response[0]);
               $('#to_date').val(response[1]);

            },
            error: function () {
                alert("ajax Failed");
            }
        });

                        //ajx end 

                        //console.log(localtime);

                         $("#myModal").modal('show');
                       $("#myModal").removeClass('fade');
                       $("#myModal").addClass('show');
                       
                         var time=datetime.getUTCDate();
                         var hh=datetime.getUTCHours();
                         var ms=datetime.getMinutes();
                         //getUTCMinutes
                         
                         var dd = datetime.getDate();
                         var mm = datetime.getMonth() + 1;
                         var yyyy = datetime.getFullYear();
                         

                         

                       //$('#from_date').val(localtime);

                        // console.log(time);

                     }

                    
                 },

                eventClick: function (events)
                {

                    //$('#myModal2').modal('show');

                },
                eventRender: function (events, $el)
                {
                    $el.popover({
                        //title: events.title,
                        //content: 'task name: ' + events.title + ', start date: ' + events.start.format('y-mm-dd hh:mm:ss'),
                        content: function ()
                        {
                            $("#popoverTitle").text(events.title);
                            //$("#popoverStart").text(events.start.format('Y-MM-DD HH:mm:ss'));
                            //$("#popoverEnd").text(events.end.format('Y-MM-DD HH:mm:ss'));

                            return $("#popoverContent").html();
                            //return 'title :' + events.title +', details: ' + events.description + ', from ' + events.start.format('y-mm-dd hh:mm:ss') + ' to ' + events.end.format('y-mm-dd hh:mm:ss');
                        },
                        placement: 'top',
                        html: 'true',
                        trigger: 'hover',
                        animation: 'true',
                        //container: 'body'

                    });
                },
                loading: function (bool)
                {
                    $('#loading').toggle(bool);
                }
            });
            }


        });

    </script>
@*calendar*@

<style type="text/css">
    .dropdown-item:hover {
        display: block;
        width: 100%;
        padding: 0.25rem 0.6rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 0.6rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    /*body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }*/

        #calendar {
            max-width: 500px;
            margin: 0 auto;
        }

</style>

    <input hidden id="butler_id" value="@ViewBag.RecId"/> @*for geting orders against a butler*@

    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
           <div class="modal-header px-4">
             <h5 class="font-weight-bold">Place Order Here</h5>
             <button type="button" id="btnclose" class="close" data-dismiss="modal">&times;</button>
            </div>
        <div class="modal-body">

                            <form action="@Url.Action("CheckOut","Home")" method="post" id="placeOrd">
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="mb-1">From Date Time<span class="text-danger">*</span></label>
                                            <div class="position-relative ">
                                                <input type="text" name="FromDateTime" class="form-control" id="from_date" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="mb-1">To Date Time<span class="text-danger">*</span></label>
                                            <div class="position-relative">
                                                <input type="text" name="ToDateTime" class="form-control" id="to_date" readonly>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="p-3 col-lg-12">
                                        <label>Project Title<span class="text-danger">*</span></label>
                                        <div class="input-group mb-2 col-md-12 p-0">
                                            <input type="text" class="form-control" name="title" required>
                                        </div>
                                    </div>

                                    <div class="border-bottom p-3 col-lg-12">
                                        <label>Describe the required services - please be as detailed as possible:</label>
                                        <div class="form-group">
                                            <textarea class="form-control" id="prodes" name="desc" rows="5" placeholder="I'm looking for..."></textarea>
                                        </div>
                                    </div>

                                    <div class="p-3 d-flex justify-content-center justify-content-md-end">

                                        <input type="text" class="form-control" name="customerId" value="@loggedinUser.Id" hidden>
                                        <input type="text" class="form-control" name="butlerId" value="@ViewBag.RecId" hidden>

                                        <button type="submit" id="sub" class="btn btn-success">Place Order</button>
                            @*<script src="//checkout.stripe.com/v2/checkout.js" id="sub2" class="stripe-button" data-key="@Stripe.Value.PublishableKey" data-label="Place Order"></script>*@
                                    </div>
                                </div>
                            </form>
          </div>
                  </div>
               </div>
        </div>




@*for calendar*@
  <div hidden id="popoverContent" class="hide">
        <h4 id="popoverTitle" class="text-center"></h4>
        Start: <span id="popoverStart"></span>
        <br />

        End: <span id="popoverEnd"></span>
  </div>

     <!-- Add new Modal -->
@* <div id="myModal" class="modal" style="width:500px; margin-left:550px;">
        <br />
        <br />
        <br />
        <br />
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" data-dismiss="modal"><span style="color:red;">&times;</span></span>
            <h5 align="center">Enter order Details</h5>

         <form action="@Url.Action("AddTask","Home")" method="post">
                Start Date: <input type="text" required name="StartDate" id="sdate" readonly />
                <br />
                End Date: <input type="text" required name="EndDate" id="edate" readonly />
                <br />
                Title: <input type="text" required name="OrderTitle" id="title" />
                <br />
                Order Details: <input type="text" required name="OrderDescription" id="detail" />
                <br />
                <br />


                <br />
                <br />
                <input type="submit" value="save" />

            </form>
        </div>

    </div>*@



   <!-- Modal -->

    <!-- Add new Modal -->
    <!-- Deatail Modal -->
    <div id="myModal2" class="modal" style="width:500px; margin-left:550px;">
        <br />
        <br />
        <br />
        <br />
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" data-dismiss="modal"><span style="color:red;">&times;</span></span>
            <h5 align="center">order Details</h5>

            Id: <span id="id2"></span>
            <br />
            Start Date: <span id="sdate2"></span>
            <br />
            End Date: <span id="edate2"></span>
            <br />
            Title: <span id="title2"></span>
            <br />
            order Details: <span id="detail2"></span>
            <br />
            <a href="" class="btn btn-primary">View</a>

        </div>

    </div>
    <!-- Deatail Modal -->


@*for calendar*@




    <div class="main-page second py-5">
         <div class="container">
        @if (ViewBag.msg != "")
        {
                <div class="h5 alert alert-info" id="alertMsg" role="alert">
                    <span>@ViewBag.msg</span>
                </div>
        }
            <div class="row">
               <div class="col-lg-4 left">
                  <div class="profile_info">
                     <div class="seller-card">
                        <div>
                            @if (@ViewBag.Status == 1)
                            {
                               <div class="user-online-indicator is-online" data-user-id="1152855">
                                  <i class="fa fa-circle"></i>Online
                                </div>
                            }
                            else
                            {
                                 <div class="user-online-indicator is-online" style="border-color:red;color:red !important" data-user-id="1152855">
                                  <i class="fa fa-circle"></i>offline
                                </div>
                            }
                        </div>
                        <!-- <div><a href="#" class="ambassadors-badge">Ambassador</a></div> -->
                        <div class="user-profile-info">
                           <div>
                              <div>
                                 <label class="user-pict">
                                        @if (@Model.ImagePath == "" || @Model.ImagePath == null)
                                        {
                                                <img
                                    src="/FrontAssets/images/user/s4.png" width=256 height=256
                                    class="img-fluid rounded-circle" onerror="this.error=null;this.src='/FrontAssets/images/user/s4.png';"  id="imgprev" alt="Responsive img"/>
                                        }
                                        else
                                        {
                                            <img
                                    src="~/@Model.ImagePath" 
                                    class="img-fluid rounded-circle" width=256 height=256 alt="Responsive img" onerror="this.error=null;this.src='/FrontAssets/images/user/s4.png';"/>
                                        }
                                 <a href="#"
                                    class="user-badge-round user-badge-round-med locale-en-us top-rated-seller"></a></label>
                              </div>
                           </div>
                           <div class="user-profile-label pt-3">
                              <div class="username-line">
                                 <a href="#" id="name" class="seller-link">@Model.FirstName @Model.LastName</a>
                              </div>
                              <div class="mt-1 oneliner-wrapper">
                                 <small class="oneliner">@Model.Position</small>
                                    @* <div class="ratings-wrapper">
                                    <p class="rating-text"><strong>5.</strong> (1k+ reviews)</p>
                                 </div>*@

                                </div>
                                @if (@Model.Availability == 1)
                                {
                                            <p class="mt-1 oneliner text-success">Available</p>
                                }
                                else
                                {
                                            <p class="mt-1 oneliner text-danger">Not Available</p>
                                }
                           </div>
                        </div>
                        <div class="buttons-wrapper">
                            @if (ViewBag.pr == 1)
                            {
                               <a href="#" class="btn-lrg-standard btn-contact-me js-contact-me js-open-popup-join">Contact Me</a>
                            }
                            else if (@loggedinUser != null && ViewBag.pr != 1 && @loggedinUser.Id != @Model.Id)
                            {
                                    <a href="@Url.Action("Messages","Home", new{ rec= StringCipher.EncryptId(@Model.Id)})" class="btn-lrg-standard btn-contact-me js-contact-me js-open-popup-join">Contact
                                        Me</a>
                            }
                            else if (@loggedinUser != null && @loggedinUser.Id == @Model.Id)
                            {
                                      <a href="#" class="btn-lrg-standard btn-contact-me js-contact-me js-open-popup-join">Contact Me</a>
                            }
                            else
                            {
                                    <a href="@Url.Action("Login","Auth", new{ msg= "Please Login to Continue!", color="red"})" class="btn-lrg-standard btn-contact-me js-contact-me js-open-popup-join">Contact
                                        Me</a>
                            }

                            @if (@loggedinUser != null && @loggedinUser.Id == @Model.Id)
                            {
                                      <button class="btn btn-outline-danger ml-2"><i class="fa fa-solid fa-gift" style="font-size:20px;" title="Share User Refferal"></i></button>
                            }
                            else
                            {
                                <button onclick="CopyFunc()" class="btn btn-outline-danger ml-2"><i class="fa fa-solid fa-gift" style="font-size:20px;" title="Share User Refferal"></i></button>
                            }
                            @if (loggedinUser != null)
                            {
                                     <input type="hidden" id="refval" value="@ProjectVariables.baseUrl/Home/Messages?rec=@StringCipher.EncryptId(@Model.Id)&refx=@loggedinUser.Refferal_Code"/>
                            }

                            @*<div class="btn-lrg-standard btn-white btn-custom-order">Share Refferal</div>*@
                        </div>
                        <div class="user-stats-desc">
                           <ul class="user-stats">
                              <li class="location">From<strong>@Model.Country</strong></li>
                              <li class="member-since">Member since<strong>@Convert.ToDateTime(@Model.CreatedAt).ToString("MMMM yyyy")</strong></li>
                                @*<li class="member-since">Hourly Rate<strong>$@Model.StartingFrom</strong></li>*@
                                @if (@Model.Language != null && @Model.Language != "")
                                {
                                    <li class="fa-solid fa-language"> <strong>@Model.Language</strong></li>
                                }

                                <span><i class="fa fa-solid fa-star mr-2"></i>Rating</span><strong><span>
                                        @if (Model.Stars != null)
                                        {
                                                <span class="mr-1">@Model.Stars</span>
                                        }
                                        else
                                        {
                                                 <span class="mr-1">0</span>
                                        }
                                        <span><svg class="mb-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" width="15" height="15">
                                                <path fill="#FFD700"
                                          d="M1728 647q0 22-26 48l-363 354 86 500q1 7 1 20 0 21-10.5 35.5t-30.5 14.5q-19 0-40-12l-449-236-449 236q-22 12-40 12-21 0-31.5-14.5t-10.5-35.5q0-6 2-20l86-500-364-354q-25-27-25-48 0-37 56-46l502-73 225-455q19-41 49-41t49 41l225 455 502 73q56 9 56 46z">
                                       </path>
                                    </svg></span></span></strong>

                                @*<li class="recent-delivery">Recent Delivery<strong>about&nbsp;15</strong></li>*@
                           </ul>
                        </div>
                     </div>
                  </div>





                @if (loggedinUser.Role == 4)
                {

                                    <div class="bg-white rounded shadow-sm py-3" style="border-top-style: solid;
                                border-top-width: 15px; border-color: #26D7AA;">
                                        <h3 class="pl-3">Buy Subscription</h3>
                                        <div class="dropdown-menu-show">
                            @*<p class="text-muted text-center font-weight-bold dropdown-item py-2">Questions about our rates? <a href=""><u>Learn more</u></a></p>*@
                                            <form action="@Url.Action("CheckOut","Home")" method="post">
                                                <div class="mx-3" style="background-color: #afb8ec30; border-radius: 9px;">
                                                    @*start massam 09-01-23*@
                                                    <span class="dropdown-item pt-2 text-control" href="#" style="font-size:16px;"><input class="mr-2" type="radio" name="subscribtionCharges" value="100" id="defaultCheck1" required>5 sessions anytime(1 free session):<h5 class="pull-right"><b>$100/Year</b></h5></span>
                                                    @*end massam 09-01-23*@
                                                    <p class="dropdown-item pb-2" style="font-size:16px; padding-top: 0px;">@*<input class="mr-2" type="checkbox" value="" id="defaultCheck1" style="visibility: hidden;">For Each Additional Butler: <b class="pull-right">$20</b>*@</p>
                                                </div>

                                                <div class="mx-3" style="background-color: #26d7aa80; border-radius: 9px;">
                                                    @*start massam 09-01-23*@
                                                    <span class="dropdown-item pt-2 text-control" style="font-size:15px;"><input class="mr-2" type="radio" name="subscribtionCharges" value="200" id="defaultCheck1" required>10 sessions anytime(2 free session):<h5 class="pull-right"><span class="mr-2" style="font-size:16px;"><strike>$230</strike></span><b>$200/Year</b></h5></span>
                                                    @*end massam 09-01-23*@
                                                    <p class="dropdown-item pb-2" style="font-size:16px; padding-top: 0px;">@*<input class="mr-2" type="checkbox" value="" id="defaultCheck1" style="visibility: hidden;">For Each Additional Butler: <b class="pull-right">$30</b>*@</p>
                                    @*<hr class="mt-0 mb-2" style="width:99%; background-color:#fff; border: 1px solid #fff;" />*@
                                    @*<p class="dropdown-item pb-3">Only $10/month, members get $25 <br>off every job, and more benefits! <a href=""><u>Learn more</u></a></p>*@
                                                </div>
                                                <input type="text" class="form-control" name="title" value="Subscription" hidden>
                                                <input type="text" class="form-control" name="customerId" value="@loggedinUser.Id" hidden>
                                                <input type="text" class="form-control" name="butlerId" value="@ViewBag.RecId" hidden>


                                                <button type="submit" class="btn btn-success ml-3">Subscribe Me</button>

                                @if (ViewBag.subscribed > 0)
                                {
                                                        <span class="text-primary" id="msg">Already Subscribed(@ViewBag.subscribed sessions left)</span>
                                }

                                            </form>

                                        </div>
                                    </div>

                }




                  <div class="seller-profile mt-3">
                     <div class="skills">
                        <h3>Skills</h3>
                        <ul>
                            @if (@Model.Skills != null)
                                @foreach (var x in @Model.Skills)
                                {
                                    @if (@x.IsActive != 0)
                                    {
                                        string[] split = @x.SkillName.Split(',');
                                        foreach (var y in split)
                                        {
                                            if (!@String.IsNullOrEmpty(y))
                                            {
                                                                    <li class="overflow-hidden" style="background:#138496 !important;">
                                                                        <a style="color:white !important;"  href="@Url.Action("Search","Home",new{ search=@y})">@y</a>
                                                                    </li>
                                            }
                                        }
                                    }
                                }
                        </ul>
                     </div>
                     <div class="linked-accounts">
                        <h3>Linked Accounts</h3>
                        <ul>
                           <a href="@Model.FacebookLink"><li class="platform social-account facebook"><i class="platform-icon facebook hint--top"
                              aria-hidden="true" data-hint="facebook"></i><span class="text">Facebook</span></li></a>
                           <a href="@Model.GoogleLink"><li class="platform social-account google"><i class="platform-icon google hint--top"
                              aria-hidden="true" data-hint="google"></i><span class="text">Google</span></li></a>
                           <a href="@Model.StackOverFlowLink"><li class="platform fa fa-stack-overflow hint--top"><span class="text" style="padding:14%;font-size: 13px;font-family: 'Muli', sans-serif;font-weight: 400;">Stackoverflow</span></li></a><br/>
                            <a href="@Model.TwitterLink"><li class="fa fa-twitter hint--top"><span class="text ml-1" style="font-size: 13px;padding:15%;font-family: 'Muli', sans-serif;font-weight: 400;">Twitter</span></li></a><br/>
                            <a href="@Model.GitHubLink"><li class="fa fa-github hint--top"><span class="text ml-1" style="font-size: 13px;padding:15%;font-family: 'Muli', sans-serif;font-weight: 400;">GitHub</span></li></a><br/>
                            <a href="@Model.VimeoLink"><li class="fa fa-vimeo hint--top"><span class="text ml-1" style="font-size: 13px;padding:15%;font-family: 'Muli', sans-serif;font-weight: 400;">Vimeo</span></li></a><br/>
                            <a href="@Model.DribbleLink"><li class="fa fa-dribbble hint--top"><span class="text ml-1" style="padding:15%;font-size: 13px;font-family: 'Muli', sans-serif;font-weight: 400;">Dribbble</span></li></a><br/>
                        </ul>
                     </div>
                  </div>

              </div>

               <div class="col-lg-8 right">
                    <div class="stats-desc" style="margin-top: 0px !important; margin-bottom: 24px !important;">
                        <ul class="user-stats">
                           <li>From<strong>@Model.Country</strong></li>
                           <li>Member since<strong>@Convert.ToDateTime(@Model.CreatedAt).ToString("MMMM yyyy")</strong></li>
                        @if (@Model.Language != null)
                        {
                               <li>Language<strong>@Model.Language</strong></li>
                        }
                           <li>Prefer time for session<strong>@ViewBag.prefertimeforsession</strong></li>

                        </ul>
                    @if (@Model.Description != null)
                    {
                            <article class="seller-desc pbox" >
                               <div class="inner">

                                   <p style="font-weight:bold;">About</p>
                                  <p>@Model.Description</p>

                               </div>
                            </article>
                    }

                     </div>

                  <div class="seller-profile">
                     <div class="description">

                     <div class="education-list list">
                        <h3>Education</h3>
                        <ul>
                                @if (@Model.Education != null)
                                    @foreach (var x in @Model.Education)
                                    {
                                   <li>
                                            @if (@x.IsActive != 0)
                                            {
                                          <p><b>Institute</b> : @x.InstituteName </p>
                                          <p><b>Degree</b> : @x.DegreeName</p>
                                          <p>@Convert.ToDateTime(@x.StartDate).ToString("dd-MMMM-yyyy") - @Convert.ToDateTime(@x.EndDate).ToString("dd-MMMM-yyyy")</p>
                                          <hr/>
                                            }
                                   </li>
                                    }
                        </ul>
                     </div>
                  </div>
               </div>

                @*<div class="seller-profile" >
                     <div class="description">

                     <div class="education-list list">
                        <h3>Experience</h3>
                                                <ul>

                            @foreach(var item in @ViewBag.userexperience)
                            {
                           <li>

                              <p style="display:inline-block"><b>From</b> : @item.FromDate &nbsp; <b>To</b> :@item.ToDate </p> 
                              <p><b>Org</b> :@item.Organization &nbsp;<b>Desig</b> : @item.Designation</p>
                              <p><b>Refer</b> :@item.Organization_Reference &nbsp;<b>Contact</b> : @item.ReferalContact</p>

                              <hr/>

                           </li>

                          }

                        </ul>

                     </div>
                  </div>
               </div>*@


               <div class="seller-profile">
               <div class="tags" style="padding:5px !important;">
                     <h5>Related tags</h5>
                     <ul class="d-flex">
                            @if (@Model.Tags != null)
                                @foreach (var x in @Model.Tags)
                                {
                                    @if (@x.IsActive != 0)
                                    {
                                        string[] split = @x.TagName.Split(',');
                                        foreach (var y in split)
                                        {
                                            if (!@String.IsNullOrEmpty(y))
                                            {
                                                   <li>
                                                    <a class="overflow-hidden" style="background:#138496 !important; color: white;" href="@Url.Action("Search","Home",new{ search=@y})">@y</a>
                                                    </li>
                                            }
                                        }
                                    }
                                }
                     </ul>
              </div>
              </div>



               <div class="seller-profile">
               <div style="padding:5px !important;">
                     <h5>Reviews</h5>
                     <div>
                            @if (@ViewBag.Reviews != null)
                                @foreach (var x in @ViewBag.Reviews)
                                {
                                    @if (@x.IsActive != 0)
                                    {
                                                    <br />
                                                    <p style="font-size:15px;font-weight:bold;">@x.Seller.FirstName @x.Seller.LastName</p>
                                                    <p>@x.BuyerComment</p>
                                                    <p>
                                                    <span class="mr-1">@x.Stars</span>
                                            @for (int i = 0; i < @x.Stars; i++)
                                            {
                                                            <span style="color:gold;" class="fa fa-star checked"></span>
                                            }

                                                    </p>

                                                    <hr />
                                    }

                                }
                     </div>
              </div>
              </div>




                @if (loggedinUser.Role == 4)
                {
                    @*calendar*@

                    if (ViewBag.userRequestType != "Livenow" && ViewBag.userRequestType != null)
                    {
                                 <div class="seller-profile pl-2 pr-2" >
                                 <div style="padding:5px !important;">
                                  <div id='calendar'>

                                   </div>


                                </div>

                              </div>

                    }



                    @*calendar*@

                    else
                    {

                                  <div class="seller-profile">
                                <div style="padding:5px !important;">
                                    <h5>Place Instant Order </h5>
                                    <form action="@Url.Action("CheckOut","Home")" method="post" id="placeOrd">
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="mb-1">From Date Time<span class="text-danger">*</span></label>
                                                    <div class="position-relative ">
                                                        <input type="text"   name="FromDateTime" class="form-control" id="from_instantdatetime" required readonly value="@ViewBag.systemdatetime">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="mb-1">To Date Time<span class="text-danger">*</span></label>
                                                    <div class="position-relative">
                                                        <input type="datetime-local" onchange="timecomp_instantorder()" name="ToDateTime" class="form-control" id="to_instantdatetime" required>
                                                    </div>
                                                    <strong id="endtime_validate" style="color:red"></strong>
                                                </div>
                                            </div>

                                            <div class="pt-3 col-lg-12">
                                                <label>Project Title<span class="text-danger">*</span></label>
                                                <div class="input-group mb-2 col-md-12 p-0">
                                                    <input type="text" class="form-control" name="title" required>
                                                </div>
                                            </div>

                                            <div class="border-bottom pt-3 col-lg-12">
                                                <label>Describe the required services - please be as detailed as possible:</label>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="prodes" name="desc" rows="5" placeholder="I'm looking for..."></textarea>
                                                </div>
                                            </div>

                                            <div class="p-3 d-flex justify-content-center justify-content-md-end">

                                                <input type="text" class="form-control" name="customerId" value="@loggedinUser.Id" hidden>
                                                <input type="text" class="form-control" name="butlerId" value="@ViewBag.RecId" hidden>

                                                <button type="submit" id="sub" class="btn btn-success">Place Order</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                    }


                }

            </div>
         </div>
      </div>


      <script>

          //$("#btnclose").click(function(){
          //    $("#myModal").hide();
          //});


        $("#alertMsg").fadeOut(6000);


        $('#from').attr('min', new Date($.now()).toISOString().slice(0,16));
        $(document).on("change", "#from", function () {
            debugger
            var date = $(this).val();
            //minutes disable
            //const timeInput = $(this).val();;

            // timeInput.addEventListener('input', (e) => {
            // let hour = e.target.value.split(':')[0]
            // e.target.value = `${hour}:00`
            // })


            //minutes disable

            $('#to').val("");
            $('#to').attr('min', date);

        });




          function CopyFunc() {
  ///* Get the text field */
  var copyText = document.getElementById("refval");

  ///* Select the text field */
  //copyText.select();
  //copyText.setSelectionRange(0, 99999); /* For mobile devices */

  // /* Copy the text inside the text field */
  //navigator.clipboard.writeText(copyText.value);

  copyToClipboard(copyText.value).then(() => console.log('text copied !'))
    .catch(() => console.log('error'));

    $("#CopyModal").modal("show");

    window.setTimeout(function () {
        $("#CopyModal").modal("hide");
    }, 2500);



}

        //$(".stripe-button-el").hide();
        //$("#sub").click(function () {

        //    var getvalidate = document.getElementById("placeOrd").reportValidity();
        //    if (getvalidate == true) {
        //        $("#sub2").click();
        //    }
        //    else {
        //        $(".errMsg").html("Please fill all fields");
        //    }

        //});
      </script>

      <script>


      function timecomp_instantorder()
      {
          debugger;

          
           var fromdatetime=  new Date(document.getElementById('from_instantdatetime').value);
           var todatetime=  new Date(document.getElementById('to_instantdatetime').value);

           var start_time = fromdatetime.getTime();
           var end_time = todatetime.getTime();

           
           if(end_time < start_time)
           {
               
               $("#endtime_validate").html("Kindly select a time greater than your start time!");
               //document.getElementById('to_instantdatetime').value="";
               $("#to_instantdatetime").val("");

           }


               $("#endtime_validate").fadeOut(5000);


      }



      </script>
