@{
    ViewBag.Title = "About";
    Layout = ""; 
}
@using CarSystem.Models
@using CarSystem.BL
@{
    DatabaseEntities de = new DatabaseEntities();

    var identity = (System.Security.Claims.ClaimsPrincipal)System.Threading.Thread.CurrentPrincipal;
    var id = identity.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Sid).Select(c => c.Value).SingleOrDefault();
    User loggedinUser = new UserBL().GetActiveUserById(Convert.ToInt32(id), de);
}




<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap CSS old // babar-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/475c845684.js" crossorigin="anonymous"></script>
    <link href="~/Content/assets/css/StyleSheetmedia.css" rel="stylesheet" />
    <title>Sell Your Car Instantly</title>
    <style>
        .custom-padding {
            padding: 70px 0;
        }

        .form-group {
            margin: 25px 0;
        }

        a {
            cursor: pointer;
        }

        .custom-radio {
            margin: 20px 0;
        }

        .car-heading {
            background-color: #EDEDED;
            font-size: 10px;
        }

        .control-label {
            font-weight: 600;
        }

        .image-size {
            width: 60%;
            padding: 20px 0;
        }

        .custom-heading {
            font-size: 32px;
            line-height: 40px;
        }
    </style>
  
        @* nav bar header links *@


        @* nav bar header links*@
</head>
<body style="background:#e2e2e2">
    @* header navbar code *@


    @* header code *@


    <!-- Button to Open the Modal -->
    <button style="display:none" data-toggle="modal" data-target="#modalIdForRequiredFieldsPartialForms">
    </button>

    <!-- The Modal -->
    <div class="modal fade" id="modalIdForRequiredFieldsPartialForms">
        <div class="modal-dialog modal-frame modal-top">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Required <span class="text-danger">*</span></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <span class="text-bold" id="modalTextForRequiredFieldsPartialForms"></span>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>









    @*New offer page header  *@
   
   
    <header class="navbar navbar-expand-lg navbar-light bg-dark">
        </header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
            <div class="container px-0 px-md-5 ">
                <a class="navbar-brand pl-0 pl-md-5  ml-0 ml-md-5" href="@Url.Action("Index","Home")"><img src="~/Content/Frontassets/images/OfferForm/logo.png" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarSupportedContent">

                    <ul class="navbar-nav ml-auto mr-5">
                        <li class="nav-item mr-0 mr-md-3"  >
                            <a class="nav-link pr-0 pr-md-10" href="@Url.Action("Index","Home")"><strong>Home</strong> <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item active">
                            <a class="nav-link  pr-md-5 " href="@Url.Action("Offer","Home")"><strong>Offer</strong> <span class="sr-only">(current)</span></a>
                        </li>
                     

                    </ul>

                </div>
            </div>
        </nav>





        <div class="container">
            
               
                <div class="row ">
                    <div class="col-md-10 offset-md-1">
                        <form method="post" action="@Url.Action("SubmitForm","Home")" id="myform">
                            <div id="FormPartial1" style="display:block">
                                @{
                                    Html.RenderPartial("../PartialForms/_Form1");

                                }
                            </div>

                            @*<div id="FormPartial2" style="display: none">
                                @{
                                    Html.RenderPartial("../PartialForms/_Form2");
                                }
                            </div>

                            <div id="FormPartial3" style="display: none ">
                                @{
                                    Html.RenderPartial("../PartialForms/_Form3");
                                }
                            </div>*@

                            <div id="FormPartial4" style="display: none ">
                                @{
                                    Html.RenderPartial("../PartialForms/_Form4");

                                }
                            </div>


                           
                            @*<div id="FormPartial10" style="display: none">
                                @{
                                    Html.RenderPartial("../PartialForms/_Form10");
                                }
                            </div>*@
                        </form>
                    </div>
                </div>
              
     
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <script>
                function NextPage(id) {
                    var Fp1 = document.getElementById('FormPartial1');
                    //var Fp2 = document.getElementById('FormPartial2');
                    //var Fp3 = document.getElementById('FormPartial3');
                    var Fp4 = document.getElementById('FormPartial4');
                  
                 
                    /*var Fp10 = document.getElementById('FormPartial10');*/

                    if (id == 3) {
                        var YearofCar = document.getElementById('YearofCar').value;
                        var MakeofCar = document.getElementById('MakeofCar').value;
                        var ModelofCar = document.getElementById('ModelofCar').value;


                        if (YearofCar == '') {
                            $('#modalIdForRequiredFieldsPartialForms').modal('show');
                            $('#modalTextForRequiredFieldsPartialForms').text('Must select [ Year ] to proceed.');

                        }
                        else if (MakeofCar == '') {
                            $('#modalIdForRequiredFieldsPartialForms').modal('show');
                            $('#modalTextForRequiredFieldsPartialForms').text('Must select [ Make ] to proceed.');
                        }


                        else if (ModelofCar == '') {
                            $('#modalIdForRequiredFieldsPartialForms').modal('show');
                            $('#modalTextForRequiredFieldsPartialForms').text('Must select [ Model ] to proceed.');
                        }
                        //else
                        //{
                        //    if (Fp1.style.display === 'block' || Fp10.style.display === 'block') {
                        //        Fp1.style.display = 'none';
                        //        Fp2.style.display = 'block';
                        //        Fp3.style.display = 'none';
                        //        Fp4.style.display = 'none';
                              
                               
                        //        Fp10.style.display = 'none';
                        //    }
                        //}
                    }

                    if (id == 3) {


                        var ZipCode = document.getElementById('ZipCode').value;
                       

                        var driveablestatus = $('input[name="driveablestatus"]:checked').val();

                        //var odometer = $('input[name="odometerReading"]:checked').val();

                        //var doesStart = $('input[name="doesStart"]:checked').val();

                        //if (doesStart== "Y") {
                        //    $("#engTransRem").prop("hidden", false);
                        //    $("#TransRem").prop("hidden", true);
                        //}
                        //else if (doesStart== "N") {
                        //    $("#engTransRem").prop("hidden", true);
                        //    $("#TransRem").prop("hidden", false);
                        //}
                       
                        if (ZipCode == '') {
                            $('#modalIdForRequiredFieldsPartialForms').modal('show');
                            $('#modalTextForRequiredFieldsPartialForms').text('Zip Code must not be empty.');
                        }
                     
                        else if (driveablestatus.length == 0) {
                            $('#modalIdForRequiredFieldsPartialForms').modal('show');
                            $('#modalTextForRequiredFieldsPartialForms').text('Must select Driveable status ');
                        }
                 

                        //else {
                        //    if (Fp2.style.display === 'block' || Fp10.style.display === 'block') {
                        //        Fp2.style.display = 'none';
                        //        Fp3.style.display = 'block';
                        //        Fp1.style.display = 'none';
                        //        Fp4.style.display = 'none';
                             
                              
                        //        Fp10.style.display = 'none';
                        //    }
                        //}
                    }

                    if (id == 3) {

                   
                        var transRemove = $('input[name="transRemove"]:checked').val();
                        var Title = $('input[name="Title"]:checked').val();
                        var powerTrain = $("select[name='powerTrain']:selected").val();
                        

                      
                      
                            if (Fp1.style.display === 'block') {
                                //Fp3.style.display = 'none';
                                Fp4.style.display = 'block';
                                Fp1.style.display = 'none';
                                //Fp2.style.display = 'none';
                              
                               
                                //Fp10.style.display = 'none';
                            }
                        
                    }

                   


                    //if (id == 10) {
                    //    if (Fp10.style.display === 'block') {
                    //        Fp10.style.display = 'none';
                    //        Fp8.style.display = 'block';
                    //        Fp1.style.display = 'none';
                    //        Fp2.style.display = 'none';
                    //        Fp3.style.display = 'none';
                    //        Fp4.style.display = 'none';
                    //        Fp5.style.display = 'none';
                           
                    //    }
                    //}


                }


                function PreviousPage(id) {
                    var Fp1 = document.getElementById('FormPartial1');
                    //var Fp2 = document.getElementById('FormPartial2');
                    //var Fp3 = document.getElementById('FormPartial3');
                    var Fp4 = document.getElementById('FormPartial4');
                    //var Fp5 = document.getElementById('FormPartial5');
                   
            
                    //var Fp10 = document.getElementById('FormPartial10');

                    if (id == 1) {
                        if (Fp4.style.display === 'block') {
                            //Fp2.style.display = 'none';
                            //Fp10.style.display = 'none';
                            Fp1.style.display = 'block';
                            //Fp3.style.display = 'none';
                            Fp4.style.display = 'none';
                            //Fp5.style.display = 'none';
                            //Fp6.style.display = 'none';
                            //Fp7.style.display = 'none';
                            //Fp8.style.display = 'none';
                            //Fp9.style.display = 'none';

                        }
                    }
                    //if (id == 3) {
                    //    if (Fp3.style.display === 'block') {
                    //        Fp3.style.display = 'none';
                    //        Fp2.style.display = 'block';
                    //        Fp1.style.display = 'none';
                    //        Fp4.style.display = 'none';
                    //        Fp5.style.display = 'none';
                    //        Fp6.style.display = 'none';
                    //        Fp7.style.display = 'none';
                    //        Fp8.style.display = 'none';
                    //        Fp9.style.display = 'none';
                    //        Fp10.style.display = 'none';

                    //    }
                    //}
                    //if (id == 4) {
                    //    if (Fp4.style.display === 'block') {
                    //        Fp4.style.display = 'none';
                    //        Fp3.style.display = 'block';
                    //        Fp1.style.display = 'none';
                    //        Fp2.style.display = 'none';
                    //        Fp5.style.display = 'none';
                    //        Fp6.style.display = 'none';
                    //        Fp7.style.display = 'none';
                    //        Fp8.style.display = 'none';
                    //        Fp9.style.display = 'none';
                    //        Fp10.style.display = 'none';

                    //    }
                    //}
                    //if (id == 5) {
                    //    if (Fp5.style.display === 'block') {
                    //        Fp5.style.display = 'none';
                    //        Fp4.style.display = 'block';
                    //        Fp1.style.display = 'none';
                    //        Fp2.style.display = 'none';
                    //        Fp3.style.display = 'none';
                    //        Fp6.style.display = 'none';
                    //        Fp7.style.display = 'none';
                    //        Fp8.style.display = 'none';
                    //        Fp9.style.display = 'none';
                    //        Fp10.style.display = 'none';

                    //    }
                    //}
                    
          
                    //if (id == 10) {
                    //    if (Fp10.style.display === 'block') {
                    //        Fp10.style.display = 'none';
                           
                    //        Fp1.style.display = 'none';
                    //        Fp2.style.display = 'none';
                    //        Fp3.style.display = 'none';
                    //        Fp4.style.display = 'none';
                          
                    //    }
                    //}
                 

                }

            </script>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


          



         


            <script>
         $("#SubmitFullForm").click(function () {

             /*debugger;*/

        var Yr = $('#YearofCar').val();
        var MK = $('#MakeofCar').val();
        var Mdl = $('#ModelofCar').val();

        //    2   complete
        var Zp = $('#ZipCode').val();
 

        
             var driveable = $('input[name="driveablestatus"]:checked').val();

             //var odometer = $('input[name="odometerReadings"]:selected').val();
             var odometer = $("#odometerReadings").val();

             var doesStart = $('input[name="doesStart"]:checked').val();
       
             //var powerTrain = $("input[name='powerTrain']:selected").val();
             var powerTrain = $("#powerTrain").val();
      

             
            

     
             var vn = $('#getVINnumber').val();
      
             var transRemove = $('input[name="transRemove"]:checked').val();
             var Title = $('input[name="Title"]:checked').val();
       

             $("#loadNameAndPrice").show();
             $("#priceshow").text("");

          $.ajax({
            type: 'POST',
            url:  '@Url.Action("GenerateOfferPrice", "Ajax")',

              data: {
                  sellerCompanyCode: "RLK2",
                  officeCode: "RLK2",
                  postalCode: Zp,
                  claimNumber: "12192-2991",
                  dateOfLoss: "2019-02-20",
                  drivable: driveable,
                  vin: vn,
                  year: Yr,
                  Make: MK,   
                  model: Mdl,
                  transRemove: transRemove,
                  odometerReadings: odometer,
                  titleCategory: Title,
                  doesStart: doesStart,
                  powerTrain: powerTrain
              },

            dataType: "json",
              success: function (response) {

                  if ($.trim(response)) {

                      $("#priceshow").text(response);

                      $("#loadNameAndPrice").hide();


                      console.log(response);

                  }
                  else {
                      $("#priceshow").text("There's no offer for you.");

                      $("#loadNameAndPrice").hide();
                  }


            },
            error: function () {

                alert("ajax Failed");
            }
        });


    });


            </script>

</body>
</html>

